.feed {
    min-height: 920px;
    &__item {
        padding-top: 60px;
        display: flex;
        img {
            height: 169px;
            width: 169px;
            border-radius: 100%;
            box-shadow: 0 5px 10px;
        }
    }
    &__text {
        padding-left: 60px;
        text-shadow: 0 3px 5px rgb(122, 122, 122);
    }
    &__name {
        font-weight: 700;
        font-size: 18px;
        line-height: 18px;
        color: #0D0D0D;
    }
    &__spec {
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        color: #646464;
    }
    &__descr {
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        color: #0D0D0D;
    }
}

@import 'base/media'